body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 300px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

button {
    background: #0d2036;
    color: white;
    border: none;
    cursor: pointer;
}
